body{
	margin-left: 960 px;
	background-color: #18375E;
}
#Données {
	float: right;
	padding: 50px;
	margin: 150px;
	background-color: white;
	width: 400px;	
}
#bouton {
	background-color: #18375E;
	text-align: center;
	color: white;
	height: 30px;
	width: auto;
	margin: 40px;
	padding: 2px;
}
button{
	color: white;
}
h2{
	color: #18375E;
	text-align: center;
	text-decoration: none;
}
h5{
	color: grey;
	text-align: center;
}
p{
	}
#CGU{
	padding: 20px;
	text-align: center;
	height: 3px;

}
#Connecté{
	float: right;
}
#Inscription{
	text-align: center;
}
