<footer>
    <ul>
        <li><a href="cgu.html">CGU</a></li>
        <li><a href="faq.html">FAQ</a></li>
    </ul>
    <img src="images/logo.png" height="64" />
    <ul>
        <li><a href="https://www.facebook.com/"><img src="images/facebook.png" height="32" /></a></li>
        <li><a href="https://www.instagram.com/"><img src="images/instagram.png" height="32" /></a></li>
        <li><a href="https://www.linkedin.com/"><img src="images/linkedin.png" height="32" /></a></li>
        <li><a href="https://www.twitter.com/"><img src="images/twitter.png" height="32" /></a></li>
    </ul>
</footer>
