<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>

        <!-- JS -->
        <script src="../JavaScript/code.js"></script>

        <!-- CSS -->
        <link href="../CSS/admin.css" rel="stylesheet" type="text/css">
        <link href="../CSS/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <section id="navHeader">
            <div class='menuLogo'><a href='accueil.html'><img src='../images/Infinite_measures.jpg' height="50px"/></a></div>
            <ul class='menuUtilisateur'>
                <li><!--notifications--><img src="../images/iconSansNotification.png" /></li>
                <li><!-- Prénom-->Prénom</li>
                <li><!-- Nom-->Nom</li>
                <li class="photo"><!-- Photo--><img src='../images/iconProfil.jpg' height="50px"/></li>
            </ul>
        </section>
        <section id="contenuAdmin">
            <div id="menuAdmin">
                <button class= "chapitre actif" onclick="openChapitre(0)"><img src="../images/iconDashboard.png"/> Dashboard </button>
                <button class= "chapitre" onclick="openChapitre(1)"><img src="../images/iconDispositif.png"> Dispositifs </button>
                <button class= "chapitre" onclick="openChapitre(2)"><img src="../images/iconUtilisateur.png"> Utilisateurs </button>
                <button class= "chapitre" onclick="openChapitre(3)"><img src="../images/iconFAQ.png"> FAQ </button>
            </div>
            <div id="affichageAdmin">
                <div id="0" class="choix" style="display: block;">
                    <div id="adminDashboard"><h1> Dashboard </h1></div>
                </div>
                <div id="1" class="choix" style="display: none;">
                    <table id="adminDispositif">
                        <tr >
                            <td class="titre"> <h1> Dispositifs </h1> </td>
                            <td class="recherche" ><input type="search" id="admin-search-dispositif" name="adminSearchDispositif" aria-label="Search through site content" placeholder="Recherche" style="width: 100%;"> </td>
                        </tr>
                        <tr>
                            <td> 
                                <button class="buttonAddDispositif" onclick="openAddDispositif()"> <img src="../images/iconAddDispositif.png"/> Ajouter un dispositif </button>
                                <div class="addDispositif">
                                    <img src="../images/iconAddDispositif.png" style="height: 16.5pt;"/>
                                    <textarea id="addCode" name="code" cols="15" rows="1" placeholder="Code"></textarea>
                                    <textarea id="addProprietaire" name="proprietaire" cols="15" rows="1" placeholder="Nom propriétaire"></textarea>
                                    <img src="../images/iconValider.png" onclick="validateAddDispositif()" />
                                    <img src="../images/iconAnnuler.png" onclick="closeAddDispositif()"/>
                                </div>
                            </td>
                            <td> <select size="1">
                                <option value disabled selected > Trier par: </option>
                                <option value="1"> Option 1 </option>
                                <option value="2"> Option 2 </option>
                            </select> </td>
                        </tr>
                    </table>
                    <table class="affichageResultat">
                        <tr>
                            <td><table class="dispositif">
                                <tr> 
                                    <td rowspan="3" class="imageDispositif" > <img src="../images/iconDispositif.png"/></td>
                                    <td> Code </td>
                                    <td class="modifierSupprimer">
                                        <img src="../images/iconModifier.png" />
                                        <img src="../images/iconCroix.png"/>
                                    </td>
                                </tr>
                                <tr> <td> Info 1 </td> </tr>
                                <tr>
                                    <td colspan="2" class="proprietaireDispositif"> <img src="../images/iconUtilisateur.png"/> Nom propriétaire </td> 
                                </tr>
                            </table></td>
                            <td><table class="dispositif">
                                <tr> 
                                    <td rowspan="3" class="imageDispositif"> <img src="../images/iconDispositif.png"/></td>
                                    <td> Code </td>
                                    <td class="modifierSupprimer">
                                        <img src="../images/iconModifier.png" />
                                        <img src="../images/iconCroix.png"/>
                                    </td>
                                </tr>
                                <tr> <td> Info 1 </td> </tr>
                                <tr>
                                    <td colspan="2" class="proprietaireDispositif"> <img src="../images/iconUtilisateur.png"/> Nom propriétaire </td> 
                                </tr>
                            </table></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="pagination">
                        <button class="pageBefore" onclick="openBefore()"> <img src="../images/flecheGauche.png" /> </button>
                        <button class="page actif" onclick="openPage(0)"> 1 </button>
                        <button class="page" onclick="openPage(1)"> 2 </button>
                        <button class="pageAfter" onclick="openAfter()"> <img src="../images/flecheDroite.png"/> </button>
                    </div>
                </div>
                <div id="2" class="choix" style="display: none;">
                    <table id="adminUtilisateur">
                        <tr>
                            <td class="titre" > <h1> Utilisateurs </h1> </td>
                            <td class="recherche" > <input type="search" id="admin-search-utilisateur" name="adminSearchUtilisateur" aria-label="Search through site content" placeholder="Recherche" > </td>
                        </tr>
                        <tr>
                            <td> <img src="../images/iconAjouterUser.png" /> Ajouter un utilisateur &nbsp; Requêtes en attentes <img src="../images/iconOuvrir.png"/> </td>
                            <td> <select size="1">
                                <option value disabled selected > Trier par: </option>
                                <option value="1"> Option 1 </option>
                                <option value="2"> Option 2 </option>
                            </select> </td>
                        </tr>
                    </table>
                    <table class="affichageResultat">
                        <tr>
                            <td><table class="utilisateur">
                                <tr> 
                                    <td rowspan="4" class="photoProfil" > <img src="../images/iconProfil.jpg"/></td>
                                    <td> Nom Prénom </td>
                                    <td class="modifierSupprimer" >
                                        <img src="../images/iconModifier.png" />
                                        <img src="../images/iconCroix.png"/>
                                    </td>
                                </tr>
                                <tr> <td> Info 1 </td> </tr>
                                <tr> <td> Info 2 </td> </tr>
                                <tr>
                                    <td colspan="2" class="iconGerer">
                                        <img src="../images/iconVoirProfil.png" />
                                        <img src="../images/iconContacter.png" />
                                        <img src="../images/iconBannir.png" />
                                    </td> 
                                </tr>
                            </table></td>
                            <td><table class="utilisateur">
                                <tr> 
                                    <td rowspan="4" class="photoProfil" > <img src="../images/iconProfil.jpg"/></td>
                                    <td> Nom Prénom </td>
                                    <td class="modifierSupprimer" >
                                        <img src="../images/iconModifier.png" />
                                        <img src="../images/iconCroix.png"/>
                                    </td>
                                </tr>
                                <tr> <td> Info 1 </td> </tr>
                                <tr> <td> Info 2 </td> </tr>
                                <tr>
                                    <td colspan="2" class="iconGerer">
                                        <img src="../images/iconVoirProfil.png" />
                                        <img src="../images/iconContacter.png" />
                                        <img src="../images/iconBannir.png" />
                                    </td> 
                                </tr>
                            </table></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><table class="utilisateur">
                                <tr> 
                                    <td rowspan="4" class="photoProfil" > <img src="../images/iconProfil.jpg"/></td>
                                    <td> Nom Prénom </td>
                                    <td class="modifierSupprimer" >
                                        <img src="../images/iconModifier.png" />
                                        <img src="../images/iconCroix.png"/>
                                    </td>
                                </tr>
                                <tr> <td> Info 1 </td> </tr>
                                <tr> <td> Info 2 </td> </tr>
                                <tr>
                                    <td colspan="2" class="iconGerer">
                                        <img src="../images/iconVoirProfil.png" />
                                        <img src="../images/iconContacter.png" />
                                        <img src="../images/iconBannir.png" />
                                    </td> 
                                </tr>
                            </table></td>
                        </tr>
                        <tr>
                            <td><table class="utilisateur">
                                <tr> 
                                    <td rowspan="4" class="photoProfil" > <img src="../images/iconProfil.jpg"/></td>
                                    <td> Nom Prénom </td>
                                    <td class="modifierSupprimer" >
                                        <img src="../images/iconModifier.png" />
                                        <img src="../images/iconCroix.png"/>
                                    </td>
                                </tr>
                                <tr> <td> Info 1 </td> </tr>
                                <tr> <td> Info 2 </td> </tr>
                                <tr>
                                    <td colspan="2" class="iconGerer">
                                        <img src="../images/iconVoirProfil.png" />
                                        <img src="../images/iconContacter.png" />
                                        <img src="../images/iconBannir.png" />
                                    </td> 
                                </tr>
                            </table></td>
                        </tr>
                    </table>
                    <div class="pagination" >
                        <button class="pageBefore" onclick="openBefore()"> <img src="../images/flecheGauche.png" /> </button>
                        <button class="page actif" onclick="openPage(0)"> 1 </button>
                        <button class="page" onclick="openPage(1)"> 2 </button>
                        <button class="pageAfter" onclick="openAfter()"> <img src="../images/flecheDroite.png" /> </button>
                    </div>
                </div>
                <div id="4" class="choix" style="display: none;">
                    <div id="adminFAQ">
                        <h1> FAQ </h1>
                        <button class="ajouterQuestion"> Ajouter question </button>
                    </div>
                    <table class="listeQuestionsAdmin">
                        <tr class="question" id="1" style="display:table-row;">
                            <td style="width: 5%;"> 1. </td>
                            <td style="width: 15%;"> Question 1 </td>
                            <td style="width: 5%;"> <img src="../images/iconDroite.png" class='symboleDroite actif' onclick="openReponse(1)"/> </td>
                            <td class="vide"> </td>
                            <td style="width: 5%;">
                                <img src="../images/iconModifier.png" class='symboleModifier' onclick="openModification(1)"/>
                                <img src="../images/iconCroix.png"/>
                            </td>
                        </tr>
                        <tr class="affichage" id="1" style='display:none;'>
                            <td style="width: 5%;"> 1. </td>
                            <td style="width: 15%;"> Question 1 </td>
                            <td style="width: 5%;"> <img src="../images/iconBas.png" class='symboleBas' onclick="closeReponse(1)"/> </td>
                            <td class="vide"> </td>
                            <td style="width: 5%;">
                                <img src="../images/iconModifier.png" class='symboleModifier' onclick="openModification(1)"/>
                                <img src="../images/iconCroix.png"/>
                            </td>
                        </tr>
                        <tr class="reponse" id="1" style='display:none;'>
                            <td> </td>
                            <td colspan="3" id="reponse"> Blablabla </td>
                        </tr>
                        <tr class="modifier" id="1" style='display:none;'>
                            <td style="width: 5%;"> 1. </td>
                            <td style="width: 15%;"> <textarea id="answer" name="question 1" cols="20" rows="1" style="resize: none;"> Question 1 </textarea> </td>
                            <td class="vide" colspan="2"> </td>
                            <td style="width: 5%;">
                                <img src="../images/iconValider.png"/>
                                <img src="../images/iconAnnuler.png" class='symboleAnnuler' onclick="openReponse(1)"/>
                            </td>
                        </tr>
                        <tr class="reponseModifiable" id="1" style='display:none;'>
                            <td> </td>
                            <td colspan="3" id="reponse">
                                <textarea id="answer" name="question 1" cols="140" rows="8" style="resize: none;"> Blablabla </textarea>
                            </td>
                        </tr>
                        <tr class="question" id="2" style="display:table-row;">
                            <td style="width: 5%;"> 2. </td>
                            <td style="width: 15%;"> Question 2 </td>
                            <td style="width: 5%;"> <img src="../images/iconDroite.png" class='symboleDroite actif' onclick="openReponse(2)"/> </td>
                            <td class="vide"> </td>
                            <td style="width: 5%;">
                                <img src="../images/iconModifier.png" class='symboleModifier' onclick="openModification(2)"/>
                                <img src="../images/iconCroix.png"/>
                            </td>
                        </tr>
                        <tr class="affichage" id="2" style='display:none;'>
                            <td style="width: 5%;"> 2. </td>
                            <td style="width: 15%;"> Question 2 </td>
                            <td style="width: 5%;"> <img src="../images/iconBas.png" class='symboleBas' onclick="closeReponse(2)"/> </td>
                            <td class="vide"> </td>
                            <td style="width: 5%;">
                                <img src="../images/iconModifier.png" class='symboleModifier' onclick="openModification(2)"/>
                                <img src="../images/iconCroix.png"/>
                            </td>
                        </tr>
                        <tr class="reponse" id="2" style='display:none;'>
                            <td> </td>
                            <td colspan="3" id="reponse"> Blablabla </td>
                        </tr>
                        <tr class="modifier" id="2" style='display:none;'>
                            <td style="width: 5%;"> 2. </td>
                            <td style="width: 15%;"> <textarea id="answer" name="question 2" cols="20" rows="1" style="resize: none;"> Question 2 </textarea> </td>
                            <td class="vide" colspan="2"> </td>
                            <td style="width: 5%;">
                                <img src="../images/iconValider.png"/>
                                <img src="../images/iconAnnuler.png" class='symboleAnnuler' onclick="openReponse(2)"/>
                            </td>
                        </tr>
                        <tr class="reponseModifiable" id="2" style='display:none;'>
                            <td> </td>
                            <td colspan="3" id="reponse">
                                <textarea id="answer" name="question 2" cols="140" rows="8" style="resize: none;"> Blablabla </textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </body>
    <script LANGUAGE='JavaScript'>

        function openChapitre(number) {
            var i, chapitre, choix;
            choix = document.getElementsByClassName("choix");
            for (i=0; i<choix.length;i++) {
                choix[i].style.display="none";
            }
            chapitre = document.getElementsByClassName("chapitre");
		    for (i = 0; i < chapitre.length; i++) {
    		    chapitre[i].className = chapitre[i].className.replace(" actif", "");
    	    }
            choix[number].style.display = "block";
            chapitre[number].className += " actif";
        }

        function openReponse(number) {
            document.getElementsByClassName("question")[number-1].style.display="none";
            document.getElementsByClassName("affichage")[number-1].style.display="table-row";
            document.getElementsByClassName("reponse")[number-1].style.display="table-row";
            document.getElementsByClassName("modifier")[number-1].style.display="none";
            document.getElementsByClassName("reponseModifiable")[number-1].style.display="none";
        }

        function openModification(number) {
            document.getElementsByClassName("question")[number-1].style.display="none";
            document.getElementsByClassName("affichage")[number-1].style.display="none";
            document.getElementsByClassName("reponse")[number-1].style.display="none";
            document.getElementsByClassName("modifier")[number-1].style.display="table-row";
            document.getElementsByClassName("reponseModifiable")[number-1].style.display="table-row";
        }

        function closeReponse(number) {
            document.getElementsByClassName("question")[number-1].style.display="table-row";
            document.getElementsByClassName("affichage")[number-1].style.display="none";
            document.getElementsByClassName("reponse")[number-1].style.display="none";
            document.getElementsByClassName("modifier")[number-1].style.display="none";
            document.getElementsByClassName("reponseModifiable")[number-1].style.display="none";
        }

        function openAddDispositif() {
            document.getElementsByClassName("buttonAddDispositif")[0].style.display="none";
            document.getElementsByClassName("addDispositif")[0].style.display="block";
        }

        function closeAddDispositif() {
            document.getElementsByClassName("buttonAddDispositif")[0].style.display="block";
            document.getElementById("addCode").value="";
            document.getElementById("addProprietaire").value="";
            document.getElementsByClassName("addDispositif")[0].style.display="none";
        }

    </script>
</html>