<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Foire Aux Questions</title>
    <link rel="stylesheet" type="text/css" href="css/faq-cgu.css" />
</head>

<body class="faq">
    <header>
        <h1>Foire Aux Questions</h1>
    </header>
    <main>
        <article>
            <header>
                <h2>Pourquoi ?</h2>
            </header>
            <p>Parce que.</p>
        </article>
        <article>
            <header>
                <h2>Pourquoi ?</h2>
            </header>
            <p>Parce que.</p>
        </article>
    </main>
    <footer></footer>
</body>

</html>
