<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Foire Aux Questions</title>
    <link rel="stylesheet" type="text/css" href="css/faq.css" />
</head>

<body>
    <header>
        <h1>Foire Aux Questions</h1>
    </header>
    <main>
        <details>
            <summary>Pourquoi ?</summary>
            <p>
                Parce que.
            </p>
        </details>
        <details>
            <summary>Pourquoi ?</summary>
            <p>
                Parce que.
            </p>
        </details>
    </main>
    <footer></footer>
</body>

</html>
