<!DOCTYPE html>
<html>

<head>

    <!-- JS -->
    <script src="js/code.js"></script>

    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <section id="navHeader">
        <ul class='header'>
            <li class='menuLogo'><a href='accueil.html'><img src='../images/Infinite_measures.jpg' height="50px" /></a></li>
            <li class='menutitle'><a href='accueil.html'>Qui sommes-nous?</a></li>
            <li class='menutitle'><a href='accueil.html'>Notre projet</a></li>
            <li class='menutitle'><a href='accueil.html'>Contact</a></li>
            <li class='inscriptionConnexion'><a href='inscription.html'> Inscription </a> / <a href='connexion'> Connexion </a></li>
        </ul>
    </section>

    <div class="test"></div>
    <section id="navFooter">
        <ul class='footerpage'>
            <li><a href='CGU.html'> CGU </a></li>
            <li><a href='FAQ.html'> FAQ </a></li>
            <li><a href='contact.html'> CONTACT </a></li>
        </ul>
        <div class='logofooter'><img src='../images/logo.png' height="50px" /></div>
        <ul class='networks'>
            <li><a href='https://www.facebook.com/'><img src='../images/facebook.png' height="50px" /></a></li>
            <li><a href='https://www.instagram.com/'><img src='../images/instagram.png' height="50px" /></a></li>
            <li><a href='https://www.linkedin.com/'><img src='../images/linkedin.png' height="50px" /></a></li>
            <li><a href='https://www.twitter.com/'><img src='../images/twitter.png' height="50px" /></a></li>
        </ul>
    </section>

</body>

</html>
