<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="css/sign.css" />
    <script text="text/javascript" src="js/sign.js"></script>
</head>

<body>
    <header>
        <h1>INFINITE MEASURES</h1>
    </header>
    <main>
        <form id="signup" method="POST" onsubmit="return signupCheck();">
            <fieldset>
                <legend>Type de compte</legend>
                <div>
                    <input id="user" type="radio" name="type" value="user" checked />
                    <label for="user">Patient</label>
                </div>
                <div>
                    <input id="manager" type="radio" name="type" value="manager" />
                    <label for="manager">Médecin</label>
                </div>
                <div>
                    <input id="admin" type="radio" name="type" value="admin" />
                    <label for="admin">Administrateur</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Détails du compte</legend>
                <input id="firstname" name="firstname" type="text" placeholder="Prénom" required />
                <input id="lastname" name="lastname" type="text" placeholder="Nom" required />
                <input id="email" name="email" type="email" placeholder="Adresse mail" required />
                <input id="password" name="password" type="password" placeholder="Mot de passe" required />
                <!-- User -->
                <input id="nss" name="nss" type="text" placeholder="Numéro de Sécurité Sociale" required disabled />
                <select id="manager" name="manager" required disabled>
                    <option value="">Médecin</option>
                </select>
                <!-- Manager -->
                <input id="address" name="address" type="text" required disabled />
            </fieldset>
            <button type="submit">Inscription</button>
        </form>
        <div>
            <label for="signin">Vous avez déjà un compte ?</label>
            <a id="signin" href="connexion.html">Se connecter</a>
        </div>
    </main>
    <footer>
        <a>Conditions Générales d'Utilisation</a>
    </footer>
</body>

</html>
