<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>

        <!-- JS -->
        <script src="../js/code.js"></script>
        <script src="../js/admin.js"></script>
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

        <!-- CSS -->
        <link href="../css/admin.css" rel="stylesheet" type="text/css">
        <link href="../css/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <header id="navHeader"></header>
        <section id="contenuAdmin">
            <form>
                <h2>Modification profil: Prénom Nom</h2></br>
                <p>Nom: &nbsp; <input type="text" name="nom" placeholder="Nom"/></p>
                <p>Prénom: &nbsp; <input type="text" name="prenom" placeholder="Prénom"/></p>
                <p>E-mail: &nbsp; <input type="email" name="email" placeholder="prenom.nom@infinitesMeasures.com"/></p>
                <p>Vérification e-mail: &nbsp; <input type="email" name="emailVerification" /></p>
                <p>Mot de passe: &nbsp; <input type="text" name="mdp"/></p>
                <p>Vérification mot de passe: &nbsp; <input type="text" name="verifMdp"/></p>
                </br>
                <div class="boutons">
                    <button id="annuler"> Annuler </button>
                    <button id="valider"> Valider </button>
                </div>
            </form>
        </section>
    </body>
    <script LANGUAGE='JavaScript'>
        header();
    </script>
</html>