:root {
    --colorHeader: rgb(24, 55, 94, 0.86);
    --colorFooter: rgb(24, 55, 94);
    --colorAdmin: rgb(180, 218, 240, 0.61);
    --colorChoixAdmin:  rgb(34, 37, 41, 0.4);
    --colorFAQ: rgb(100, 162, 186);
}

/* admin */
button {
    display: block;
    background-color: inherit;
    border:none;
}

#contenuAdmin {
    background-color: var(--colorAdmin);
    min-height: 89.5%;
    display: flex;
    flex-direction: row;
}

#menuAdmin {
    min-height: 100%;
    width: auto;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorFooter);
}

#menuAdmin button{
    color: white;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
}

#menuAdmin button img{
    height: 12px;
}

#menuAdmin button.actif{
    background-color:var(--colorChoixAdmin);
}

#affichageAdmin {
    width: 90%;
    padding:0px;
}

#affichageAdmin .choix {
    height: 89.5%;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--colorFooter);
}

.titre {
    width: 40%;
} 

.recherche {
    width: 60%
}

.affichageResultat {
    width: 100%;
    padding: 2%;
    border-collapse : separate;
    border-spacing : 20px;
}

.affichageResultat td {
    width: 25%;
}

textarea {
    resize:none;
}

.pagination {
    position: fixed;
    bottom: 20px;
    right: 10%;
}

.pagination button {
    display: table-column;
    background-color: white;
}

.pagination button img {
    width: 10px;
    height: 10px;
}

.modifierSupprimer {
    text-align: right;
    min-width: 35px;
    max-width: 40px;
}

.modifierSupprimer img{
    width: 15px;
    height: 15px;
}

/*admin requetes*/
.requetes {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.requetes .content {
    display: flex;
    flex-direction: row;
    margin: 20vh auto; 
    width: 60%;
    height: 60%;
}

#menuRequetes {
    min-height: 100%;
    width: auto;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorFooter);
}

#menuRequetes button{
    color: white;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
}

#menuRequetes button img{
    height: 12px;
}

#menuRequetes button.actif{
    background-color:var(--colorChoixAdmin);
}

#affichageRequetes {
    background-color: rgb(180, 218, 240);
    min-height: 89.5%;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding:0px;
    overflow-y: scroll;
}

#affichageRequetes .close {
    text-align: right;
}

#affichageRequetes .close img {
    padding: 1%;
    width: 20px;
    height: 20px;
}

.requete {
    height: 80%;
    margin-left: 10px;
    margin-right: 25px;
    color: var(--colorFooter);
}

.requete table {
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    border-spacing: 10px;
}

.valider button{
    text-align: center;
    width: 100%;
    color: lawngreen;
}

.rejeter button{
    text-align: center;
    width : 100%;
    color: red;
}

/*admin Dashboard */

.chiffreCle {
    display: flex;
    flex-direction: row;
    width: 100%
}

.chiffreCle div{
    text-align: center;
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    width: 50%;
}

.chiffreCle div h3{
    margin:inherit;
}

.chiffreCle div h2{
    margin:inherit;
}

.statistiques {
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    width: 96%;
}

/* admin Dispositif */ 

#adminDispositif {
    width: 95%;
}

#admin-search-dispositif {
    margin: auto 0px;
    font-size: 20px;
}

.buttonAddDispositif img {
    height: 19px;
}

.addDispositif {
    display: none;
}

.addDispositif img {
    height:20px;
}

.dispositif {
    background-color: white;
    border-radius: 15px;
    width: 100%;
}

.imageDispositif {
    width: 110px;
    text-align: center;
}

.imageDispositif img {
    height: 90px;
    margin: 5px;
}

.proprietaireDispositif img {
    width: 20px;
    height: 20px;
}

/* admin utilisateur */ 

#adminUtilisateur {
    width: 95%;
}

#adminUtilisateur td img {
    width: 15px;
}

#admin-search-utilisateur {
    margin: auto 0px;
    width: 100%;
    font-size: 20px;
}

.utilisateur {
    background-color: white;
    border-radius: 15px;
    width: 100%;
}

.utilisateur td{
    width: auto;
}

.photoProfil{
    width: 110px;
}

.photoProfil img {
    border-radius: 100%;
    width: 100px;
}

.iconGerer img {
    width: 20px; 
    height: 20px;
}

/* admin FAQ */

#adminFAQ {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ajouterQuestion{
    background-color: var(--colorFooter);
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.listeQuestionsAdmin {
    width: 95%;
    height: auto;
    margin: 1% 2%;
    padding: 2% 2%;
    background-color: white;
    color:var(--colorFooter);
    border-radius: 10px;
    border-collapse : separate;
    border-spacing : 10px;
}

.listeQuestionsAdmin > div{
    width: 100%;
    margin: 2% 0%;
}

.listeQuestionsAdmin > div > div, .listeQuestionsAdmin > form > div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.listeQuestionsAdmin > div > div > div, .listeQuestionsAdmin > form > div >div{
    margin: 0% 1%;
}

.listeQuestionsAdmin img {
    height: 25px;
    width: 25px;
}
.listeQuestionsAdmin .question div {
    font-size: 25px;
}

.listeQuestionsAdmin .affichage div {
    font-size: 25px;
}

.listeQuestionsAdmin .modifier div {
    font-size: 25px;
}

.vide {
    width : 73%;
    text-align : right;
    color: gray;
    text-decoration: underline;
}

.listeQuestionsAdmin .reponse #reponse{
    border: 1px groove var(--colorFooter);
    margin: 0px 5%;
    width: 90%;
}

/* modification admin */

.modificationProfil {
    background-color: white;
    width: 30%;
    border-radius: 15px;
    position: center;
    padding: 2%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modificationProfil h2{
    color: var(--colorFooter);
}

.modificationProfil p{
    width:100%;
    text-align: right;
}

.modificationProfil input{
    width: 100%;
}

table{
    width: 90%;
}

.modificationProfil div{
    display: flex;
    flex-direction: row;
}

.modificationProfil div button{
    margin: 1% 5%;
    padding: 2% 10%;
    width: 40%;
    border: 1px solid var(--colorFooter);
    border-radius: 15px;
}