body {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(24, 55, 94);
    overflow-x: hidden;
    margin: 0;
}
body > main {
    margin-top: 77.5px;
}
body > header,
body > footer {
    display: flex;
    width: calc(100vw - 35px);
    justify-content: space-between;
    background-color: var(--color);
    padding: 5px 10px;
}
body > header {
    --color: rgba(24, 55, 94, 0.86);

    position: fixed;
    top: 0;
    z-index: 1;
}
body > footer {
    --color: rgb(24, 55, 94);
}
body > header a,
body > footer a {
    color: white;
    text-decoration: none;
    margin: auto 0;
}
body > header img,
body > footer img {
    border-radius: 50%;
    margin: auto 10px;
}
body > header ul#sign,
body > header > div,
body > footer ul {
    display: flex;
    color: white;
    padding: 0;
    margin: auto 0;
}
body > header ul > li,
body > footer ul > li {
    list-style: none;
    margin: 0 10px;
}
body > header > div {
    display: inline-block;
    position: relative;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
body > header > div > div#account {
    display: flex;
}
body > header > div img {
    border-radius: 0;
}
body > header > div > ul#dropdown {
    display: none;
    position: fixed;
    min-width: max-content;
    text-align: center;
    background-color: rgb(24, 55, 94);
    font-weight: normal;
    z-index: 1;
}
body > header > div > ul#dropdown > li {
    list-style: none;
    padding: 5px 10px;
    margin: 0;
}
body > header > div > ul#dropdown > li:last-of-type {
    background-color: #fa0606 !important;
}
body > header > div:hover > ul#dropdown {
    display: initial;
    padding: 0;
    margin: 0;
}
