body {
    background-color: rgb(24, 55, 94);
}
body > header,
body > footer {
    width: calc(100vw - 35px);
}
body > header {
    position: fixed;
    top: 0;
    z-index: 1;
}
main {
    --color: rgb(24,55,94);

    margin-top: 77.5px;
}
main > section {
    padding: 5vh 5vw;
}
main > section:first-of-type {
    background: linear-gradient(to left top, rgb(24, 55, 94), rgb(180,218,240));
    text-align: center;
    height: calc(100vh - 77.5px);
}
main > section:first-of-type img {
    width: 20vw;
    margin: calc((100vh - 77.5px - 20vw - 10vh - 5vh - 2 * 1em) / 4) 0;
}
main > section:first-of-type h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vh;
    color:#050505;
    margin-bottom: 0;
}
main > section:not(:first-of-type) {
    display: grid;
    grid-template-columns: repeat(2, 47.5%);
    gap: 5%;
}
main > section:not(:first-of-type) > div,
main > section:last-of-type > form {
    margin: auto 0;
}
main > section:not(:first-of-type) img {
    max-width: 75%;
    margin: auto;
}
main > section:last-of-type img {
    max-width: 100%;
}
main > section#qsn,
main > section#contact {
    background-color: var(--color);
    color: white;
}
main > section#ntp {
    background-color: white;
}
form > * {
    display: block;
    width: 75%;
    margin: 5px 12.5%;
}
main > section#qsn {
    font-size:large; 
}

main > section#ntp {
    font-size:large; 
}