:root {
    --colorHeader: rgb(24, 55, 94, 0.86);
    --colorFooter: rgb(24, 55, 94);
    --colorAdmin: rgb(180, 218, 240, 0.61);
    --colorChoixAdmin:  rgb(34, 37, 41, 0.4);
    --colorFAQ: rgb(100, 162, 186);
}

/* general */
body, html {
    width: 100%;
    height: 100%;
	margin: 0;
    background-color: none;
}


table {
    width: 96%;
    margin: 0% 2% 2% 2%;
    /*min-height: 66.5%;*/
}

hr {
    background-color :var(--colorFooter);
    width:90%;
    height: 1%;
    margin-bottom : 1%;
}

table td {
    width: 50%;
}

.infoProfil td {
    max-width: 50%;
}

.donneesPersonnelles {
    min-width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 10%;
}

.donneesPersonnelles div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.donneesPersonnelles img {
    width: 100px;
    border-radius: 100%;
}

/* utilisateur */

.resultatDernierTest {
    text-align: center;
}

.resultatDernierTest > div{
    margin-top: 10px;
}

.resultatDernierTest form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--colorHeader);
    color: white;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
}

.titre {
    font-size: 30px;
}

.choix {
    text-align: right;
}

/* modif */
button:not([type="submit"]) {
    display: block;
    background-color: inherit;
    border:none;
}

h2 {
	color: #18375E;
	text-decoration: none;
}
#nom {
	font-size: 30px;
	margin:35px 0%;
}
#Validation{
	margin: 30px 0%;
	padding: 0% 1%;
	background-color: #18375E;
	text-align: center;
	color: white;
	border-radius: 11px;
}
#roundedImage img{
	overflow:hidden;
    border-radius:50%;
    width:120px;
    height:120px;
}
#Annulation{
	margin: 30px 0%;
	padding: 0% 3%;
	background-color: grey;
	text-align: center;
	color: white;
	border-radius: 11px;
	width: auto;
}
#text{
	margin: 2% 2% 0% 2%;
	width: 92%;
	justify-content: space-around;
	border-style:solid;
	border-width: 0.5px;
	border-radius: 5px;
	padding: 1%;
	display: flex;
	flex-direction: row;
}
#info{
	border-right: 0.5px solid ;
	padding: 1%;
	width: 50%;
}
#infos {
	padding:1%;
	width: 50%;

}
#infos p , #info p {
	text-align: left;
}

#infos input , #info input, #infos select {
	width: 80%;
}

#infors {
	border-style:solid;
	border-width: 0.5px;
	border-radius: 5px;
	padding: 1%;
	margin: 2% 2% 0% 2%;
	display: flex;
	flex-direction: row;
	width: 92%;
}

#data {
	width:10%;
	margin-top: 3%;
}

/* gestionnaire */

.statistiques {
    margin-top: 1%;
    display: flex;
    flex-direction: column-reverse;
}

.affichage{
    margin: 0% auto;
    display: flex;
    flex-direction: row;
}

#patient {
    display: flex;
    margin: 0% 2% 2% 2%;
    justify-content: space-between ;
    flex-direction: row;
}

.recherche{
    margin-top: auto;
}

h1 {
    margin: 0%;
    color: var(--colorFooter);
}

.affichageResultat {
    width: 96%;
    padding: 2%;
    border-collapse : separate;
    border-spacing : 20px;
    min-height: 0%;
}

.affichageResultat td {
    width: 25%;
}

.utilisateur {
    border: 1px solid black;
    border-radius: 15px;
    margin: 0%;
    width: 100%;
}

.utilisateur td{
    width: auto;
}

.photoProfil{
    width: 110px;
}

.modifierSupprimer img {
    width: 20px;
}

.photoProfil img {
    border-radius: 100%;
    width: 100px;
}

.iconGerer img {
    width: 20px;
    height: 20px;
}

.examen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.examen .content {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    width: 30%;
    height: 60%;
    background-color: white;
    padding: 4% 2%;
}

.personne {
    display: flex;
    flex-direction: row;
}

.personne img {
    margin: 2%;
    width: 110px;
    height: 110px;
    border-radius: 100%;
}

.personne > div {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

p {
    text-align: center;
}

.testChoix{
    display: flex;
    margin: 0% 2% 2% 2%;
    justify-content: space-between ;
    flex-direction: row;
    border: 1px solid var(--colorFooter);
}

.testChoix div {
    font-size: 20px;
}

.buttons{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.buttons button {
    margin: 1% 5%;
    padding: 2% 10%;
    width: 40%;
    border: 1px solid var(--colorFooter);
    border-radius: 15px;
}
