:root {
    --colorHeader: rgb(24, 55, 94, 0.86);
    --colorFooter: rgb(24, 55, 94);
    --colorAdmin: rgb(180, 218, 240, 0.61);
    --colorChoixAdmin:  rgb(34, 37, 41, 0.4);
    --colorFAQ: rgb(100, 162, 186);
}

/* Gestionnaire */

table {
    width: 96%;
    margin: 0% 2% 2% 2%;
    min-height: 66.5%;
}

table td {
    width: 50%;
}

.infoProfil td {
    max-width: 50%;
}

.donneesPersonnelles {
    min-width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 10%;
}

.donneesPersonnelles div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.donneesPersonnelles img {
    width: 100px;
    border-radius: 100%;
}

.resultatDernierTest {
    text-align: center;
}

.resultatDernierTest div{
    margin-top: 10px;
}

.titre {
    font-size: 30px;
}

.choix {
    text-align: right;
}

/* ModifGestionnaire */

#Validation{
	float: right;
	background-color: #18375E;
	text-align: center;
	color: white;
}
#Annulation{
	float: right;
	background-color: grey;
	text-align: center;
	color: white;
}
#text{
	border-style:solid;
	border-width: 0.5px;
}
#info{
	border-style: solid;
	border-width: 0.5px;
	padding-top: 20px;
	padding-right: 130px;
	padding-left: 130px;
	padding-bottom: 100px;
	width: 400px;
	height: 550px;
}
.infoProfil {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.11));
	position: absolute;
	overflow: visible;
	width: 792px;
	height: 590px;
	left: 29px;
	top: 4%;
}
}

.resultatsTests {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.18));
	position: absolute;
	overflow: visible;
	width: 983px;
	height: 628px;
	left: 0px;
	top: 0px;
}

.tests {
	position: absolute;
	overflow: visible;
	left: 0px;
	top: 0px;
	font: italic;
}

#leg {
	position: absolute;
	width: 331px;
	height: 153px;
	left: 594px;
	top: 266px;
	overflow: visible;
}

#critere {
	position: absolute;
	width: 300px;
	height: 153px;
	left: 31px;
	top: 0px;
	overflow: hidden;
}

#critere_bd {
	position: absolute;
	width: 216px;
	height: 21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#ID4260_ {
	opacity: 0.5;
	position: absolute;
	left: 188px;
	top: 1px;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}

#Blabla {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}

#Stats {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.18));
	position: absolute;
	border-radius: 10px;
	width: 30%;
	height: 40%;
	left: 59%;
	top: 10%;
	overflow: visible;
	border: 1px solid black;
}

#Liste_des_patients {
	position: absolute;
	left: 884px;
	top: 55%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}

#rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 40px;
	left: 20%;
	top: 54.5%;
	background: white;
	border: 2px solid darkgrey;
}

#tri {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 40px;
	left: 6%;
	top: 54.5%;
	background: white;
	border: 2px solid darkgrey;
}

.wrapper {
	display: grid;
	position: relative;
	top: 60%;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
  	grid-auto-rows: minmax(100px, auto);
}

#Un {
	overflow: visible;
	position: absolute;
	width: 292px;
	height: 169px;
	left: 5%;
	top: 10%;
	background: white;
	border: 1px solid black;
}

#Deux {
	overflow: visible;
	position: absolute;
	width: 292px;
	height: 169px;
	left: 23%;
	top: 0%;
	background: white;
	border: 1px solid black;
}

#Trois {
	overflow: visible;
	position: absolute;
	width: 292px;
	height: 169px;
	left: 41%;
	top: 0%;
	background: white;
	border: 1px solid black;
}

#Quatre {
	overflow: visible;
	position: absolute;
	width: 292px;
	height: 169px;
	left: 59%;
	top: 0%;
	background: white;
	border: 1px solid black;
}

#Cinq {
	overflow: visible;
	position: absolute;
	width: 292px;
	height: 169px;
	left: 77%;
	top: 0%;
	background: white;
	border: 1px solid black;
}

#resultatsTests {
	font-family: Segoe UI;
}

#search_icon {
	position: absolute;
	left: 3%;
	top: 54.8%;
	overflow: visible;
}
