:root {
    --colorHeader: rgb(30, 60, 94);
    --colorFooter: rgb(17, 43, 75);
    --colorAdmin: rgba(180, 218, 240, 0.61);
    --colorChoixAdmin:  rgba(34, 37, 41, 0.4);
    --colorFAQ: rgb(100, 162, 186);
	--colorHome: rgb(24,55,94);
}

/* général */

body, html {
    height: auto;
    width: 100%;
	margin: 0;
    background-color: none;
}

#navHeader {
    height: auto;
	position: fixed;
	flex: auto;
    width: 100%;
    background-color: var(--colorHeader);
    justify-content: space-between;
	z-index: 10;
}

.header {
    width: 100%;
	display: flex;
    justify-content: space-between;
    padding: inherit;
}

a {
    color: white;
    text-decoration-line: none;
}

.header {
    margin: inherit;
}

.header .menutitle {
    padding-top: 1.25%;
    padding-bottom: 1%;
	font-family: Segoe UI;
}

.header .inscriptionConnexion {
    padding-top: 1.25%;
    padding-bottom: 1%;
    padding-right: 5px;
	font-family: Segoe UI;
}

.menuLogo {
    margin:10px;
}

.menuLogo img {
    border-radius: 100%;
}

.photo img {
    border-radius: 100%;
}

.menuUtilisateur {
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.menuUtilisateur li {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

li {
    color : white;
    list-style-type: none;
}

#navFooter {
	top: 400%;
    height: auto;
	position: absolute;
    width: 100%;
    background-color: var(--colorFooter);
    display: flex;
    justify-content: space-between;
}

#navFooter ul{
    width: 20%;
}

#navFooter div{
    width: 10%;
}

.footerpage {
    display: flex;
  	top: 100%;
  	text-align: center;
    height: auto;
    width: 100%;
    background-color: var(--colorFooter);
    justify-content: space-between;
}

.footerpage li {
    padding: 20px;
}

.logofooter {
    text-align: center;
}

.logofooter img {
    padding: 20px;
    border-radius: 100%;
}

.networks {
    display: flex;
    justify-content: row;
}

.networks li {
    padding: 10px;
}

/* accueil */
#Image {
	position: absolute;
	max-width: 100%;
	height: auto;
	left: 39%;
	top: 13%;
	overflow: visible;
}
.image_bg {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 72px;
	background: linear-gradient(217deg, rgba(7, 218, 233, 0.8), rgba(0, 132, 255, 0) 70.71%),
            linear-gradient(127deg, rgba(0, 195, 255, 0.8), rgba(0, 174, 255, 0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

#InfiniteMeasures {
	position: absolute;
	left: 19%;
	top: 55%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 8vw;
	color: rgb(5,5,5);
}
.qsn_ellipse {
	position: absolute;
	overflow: visible;
	width: 20em;
	height: 20em;
	left: 70%;
	top: 130%;
	border-radius: 50%;
	background: antiquewhite;
}
.qsn_bg {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	background: var(--colorHome);
}
#qsn_titre{
	position: absolute;
	left: 7%;
	top: 110%;
	overflow: visible;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 3vw;
	color: rgb(255,255,255);
}
#qsn_texte {
	position: absolute;
	left: 7%;
	top: 125%;
	overflow: visible;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 2vw;
	color: rgb(255,255,255);
}
.ntp_bg {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
	top: 200%;
	background-color: rgb(212,212,212);
}
.ntp_ellipse {
	position: absolute;
	overflow: visible;
	width: 20em;
	height: 20em;
	left: 70%;
	top: 230%;
	border-radius: 50%;
	background: antiquewhite;
}
#ntp_titre {
	position: absolute;
	left: 7%;
	top: 210%;
	overflow: visible;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 3vw;
}
#ntp_texte {
	position: absolute;
	left: 7%;
	top: 225%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 2vw;
}
#Contact {
	position: absolute;
	left: 5%;
	top: 310%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 3vw;
	color: rgb(255,255,255);
}
#Ou_nous_trouver {
	position: absolute;
	left: 55%;
	top: 310%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 3vw;
	color: rgb(255,255,255);
}
.contact_bg {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 300%;
	background: var(--colorHome);
}
.envoyer_rect {
	position: absolute;
	overflow: visible;
	width: 410px;
	height: 69px;
	left: 212px;
	top: 3801px;
	border-radius: 20px;
	background: lightskyblue;
}
.email_rect {
	position: absolute;
	overflow: visible;
	width: 34%;
	height: 7%;
	left: 5%;
	top: 325%;
	background: white;
}

.objet_rect {
	position: absolute;
	overflow: visible;
	width: 34%;
	height: 7%;
	left: 5%;
	top: 334%;
	background: white;
}
.contact_texte {
	position: absolute;
	overflow: visible;
	width: 34%;
	height: 37%;
	left: 5%;
	top: 343%;
	background: white;
}

#Adresse {
	position: absolute;
	left: 55%;
	top: 320%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8vw;
	color: rgb(255,255,255);
}

#Envoyer {
	position: absolute;
	left: 347px;
	top: 3809px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgb(24,55,94);
}

#Carte {
	position: absolute;
	overflow: visible;
	max-width: 100%;
	top: 328%;
	left: 55%;
}
.map {
	position: absolute;
	overflow: visible;
	width: 40%;
	height: 50%;
	top: 328%;
	left: 55%;
	background-image: url(../images/map.png);
}
/* admin */

#contenuAdmin {
    background-color: var(--colorAdmin);
    min-height: 89.5%;
    display: flex;
    flex-direction: row;
}

#menuAdmin {
    min-height: 100%;
    width: auto;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorFooter);
}

#menuAdmin button{
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

#menuAdmin button img{
    height: 12px;
}

#menuAdmin button.actif{
    background-color:var(--colorChoixAdmin);
}

#affichageAdmin {
    width: 90%;
    padding:0px;
}

#affichageAdmin .choix {
    height: 89.5%;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--colorFooter);
}

/* admin Dispositif */ 

#adminDispositif {
    width: 95%;
}

#admin-search-dispositif {
    margin: auto 0px;
    width: 50%;
    font-size: 20px;
}

/* admin utilisateur */ 

#adminUtilisateur {
    width: 95%;
}

#admin-search-utilisateur {
    margin: auto 0px;
    width: 50%;
    font-size: 20px;
}

/* admin FAQ */

#adminFAQ {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ajouterQuestion{
    background-color: var(--colorFooter);
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.listeQuestionsAdmin {
    width: 95%;
    height: auto;
    margin: 1% 2%;
    padding: 2% 2%;
    background-color: white;
    color:var(--colorFooter);
    border-radius: 10px;
    border-collapse : separate;
    border-spacing : 10px;
}

.listeQuestionsAdmin img {
    height: 25px;
    width: 25px;
}
.listeQuestionsAdmin .question td {
    font-size: 25px;
}

.listeQuestionsAdmin .affichage td {
    font-size: 25px;
}

.listeQuestionsAdmin .modifier td {
    font-size: 25px;
}

.listeQuestionsAdmin .vide {
    width : 60%
}

.listeQuestionsAdmin .reponse #reponse{
    border: 1px groove var(--colorFooter);
    max-width: 75%;
}



.Envoyer {
	position: absolute;
	overflow: visible;
	width: 20%;
	height: 8%;
	left: 12%;
	top: 382%;
	border-radius: 20px;
	background: lightskyblue;
}
