:root {
    --colorHeader: rgb(30, 60, 94);
    --colorFooter: rgb(17, 43, 75);
    --colorAdmin: rgba(180, 218, 240, 0.61);
    --colorChoixAdmin:  rgba(34, 37, 41, 0.4);
    --colorFAQ: rgb(100, 162, 186);
	--colorHome: rgb(24,55,94);
}

/* général */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: none;
}

#navHeader {
    height: auto;
    width: 100%;
    background-color: var(--colorHeader);
    display: flex;
    justify-content: space-between;
	position: fixed;
	z-index: 10;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: inherit;
    padding-right: 5px;
}

a {
    color: white;
    text-decoration-line: none;
}

.header {
    margin: inherit;
}

.header .menutitle {
    padding-top: 1.25%;
    padding-bottom: 1%;
	font-family: Segoe UI;
}

.header .inscriptionConnexion {
    padding-top: 1.25%;
    padding-bottom: 1%;
    padding-right: 5px;
	font-family: Segoe UI;
}

.menuLogo {
    margin:10px;
}

.menuLogo img {
    border-radius: 100%;
}

.photo img {
    border-radius: 100%;
}

.menuUtilisateur {
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.menuUtilisateur li {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

li {
    color : white;
    list-style-type: none;
}

#navFooter {
    top: 3000px;
    height: auto;
	position: relative;
    width: 100%;
    background-color: var(--colorFooter);
    display: flex;
    justify-content: space-between;
}

#navFooter ul{
    width: 20%;
}

#navFooter div{
    width: 10%;
}

.footerpage {
    display: flex;
    justify-content: space-between;
  	left: 0;
  	bottom: 0px;
  	width: 100%;
  	background-color: red;
  	color: white;
  	text-align: center;
	bottom: 0px;
    height: auto;
    width: 100%;
    background-color: var(--colorFooter);
    justify-content: space-between;
}

.footerpage li {
    padding: 20px;
}

.logofooter {
    text-align: center;
}

.logofooter img {
    padding: 20px;
    border-radius: 100%;
}

.networks {
    display: flex;
    justify-content: row;
}

.networks li {
    padding: 10px;
}

/* accueil */
#Image {
	position: absolute;
	width: 346px;
	height: 322px;
	left: 760px;
	top: 131px;
	overflow: visible;
}
.image_bg {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 1015px;
	top: 72px;
	background: linear-gradient(217deg, rgba(7, 218, 233, 0.8), rgba(0, 132, 255, 0) 70.71%),
            linear-gradient(127deg, rgba(0, 195, 255, 0.8), rgba(0, 174, 255, 0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

#InfiniteMeasures {
	position: absolute;
	left: 500px;
	top: 564px;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(5,5,5,1);
}
.qsn_ellipse {
	position: absolute;
	overflow: visible;
	width: 422px;
	height: 434px;
	left: 1362px;
	top: 1268px;
	border-radius: 50%;
	background: antiquewhite;
}
.qsn_bg {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 1005.393px;
	center: 0px;
	top: 1081.28px;
	background: var(--colorHome);
}
#qsn_texte {
	position: absolute;
	left: 131px;
	top: 1300px;
	overflow: visible;
	width: 957px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
#qsn_titre{
	position: absolute;
	left: 169px;
	top: 1176px;
	overflow: visible;
	width: 470px;
	height: 92px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgb(255,255,255);
}
#ntp_titre {
	position: absolute;
	left: 235px;
	top: 2185px;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
}
.ntp_bg {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 1005.393px;
	center: 0px;
	top: 2087px;
	background-color: rgb(212,212,212);
}
.ntp_ellipse {
	position: absolute;
	overflow: visible;
	width: 422px;
	height: 434px;
	left: 1362px;
	top: 2368px;
	border-radius: 50%;
	background: antiquewhite;
}
#ntp_texte {
	position: absolute;
	left: 61px;
	top: 2309px;
	overflow: visible;
	width: 957px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
}
#Contact {
	position: absolute;
	left: 93px;
	top: 3134px;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgb(255,255,255);
}
#Ou_nous_trouver {
	position: absolute;
	left: 1050px;
	top: 3134px;
	overflow: visible;
	width: 279px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgb(255,255,255);
}
.envoyer_rect {
	position: absolute;
	overflow: visible;
	width: 410px;
	height: 69px;
	left: 212px;
	top: 3801px;
	border-radius: 20px;
	background: lightskyblue;
}
.email_rect {
	position: absolute;
	overflow: visible;
	width: 648px;
	height: 77px;
	left: 93px;
	top: 3210px;
	background: white;
}

.objet_rect {
	position: absolute;
	overflow: visible;
	width: 648px;
	height: 77px;
	left: 93px;
	top: 3298px;
	background: white;
}
.contact_texte {
	position: absolute;
	overflow: visible;
	width: 648px;
	height: 370px;
	left: 93px;
	top: 3386px;
	background: white;
}
.contact_bg {
	overflow: visible;
	position: relative;
	width: 100%;
	height: 907px;
	top: 3078.99px;
	background: var(--colorHome);
}

#Adresse {
	position: absolute;
	left: 1050px;
	top: 3204px;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgb(255,255,255);
}

#Envoyer {
	position: absolute;
	left: 347px;
	top: 3809px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgb(24,55,94);
}

#Carte {
	position: absolute;
	overflow: visible;
	top: 3250px;
	left: 1050px;
}
.map {
	position: absolute;
	overflow: visible;
}
/* admin */

#contenuAdmin {
    background-color: var(--colorAdmin);
    min-height: 89.5%;
    display: flex;
    flex-direction: row;
}

#menuAdmin {
    min-height: 100%;
    width: auto;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorFooter);
}

#menuAdmin button{
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

#menuAdmin button img{
    height: 12px;
}

#menuAdmin button.actif{
    background-color:var(--colorChoixAdmin);
}

#affichageAdmin {
    width: 90%;
    padding:0px;
}

#affichageAdmin .choix {
    height: 89.5%;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--colorFooter);
}

/* admin Dispositif */ 

#adminDispositif {
    width: 95%;
}

#admin-search-dispositif {
    margin: auto 0px;
    width: 50%;
    font-size: 20px;
}

/* admin utilisateur */ 

#adminUtilisateur {
    width: 95%;
}

#admin-search-utilisateur {
    margin: auto 0px;
    width: 50%;
    font-size: 20px;
}

/* admin FAQ */

#adminFAQ {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ajouterQuestion{
    background-color: var(--colorFooter);
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.listeQuestionsAdmin {
    width: 95%;
    height: auto;
    margin: 1% 2%;
    padding: 2% 2%;
    background-color: white;
    color:var(--colorFooter);
    border-radius: 10px;
    border-collapse : separate;
    border-spacing : 10px;
}

.listeQuestionsAdmin img {
    height: 25px;
    width: 25px;
}
.listeQuestionsAdmin .question td {
    font-size: 25px;
}

.listeQuestionsAdmin .affichage td {
    font-size: 25px;
}

.listeQuestionsAdmin .modifier td {
    font-size: 25px;
}

.listeQuestionsAdmin .vide {
    width : 60%
}

.listeQuestionsAdmin .reponse #reponse{
    border: 1px groove var(--colorFooter);
    max-width: 75%;
}
