<!DOCTYPE html>
<html>
    <head>

        <!-- JS -->
        <script src="../JavaScript/code.js"></script>
        <!-- CSS -->
        <link href="../CSS/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8" />
        <title>Infinite Measure</title>

    </head>

    <body>
        <section id="navHeader">
            <ul class='header'>
                <li class='menuLogo'><a href='accueil.html'><img src='../images/Infinite_measures.jpg' height="50px"/></a></li>
                <li class='menutitle'><a href='accueil.html'>Qui sommes-nous?</a></li>
                <li class='menutitle'><a href='accueil.html'>Notre projet</a></li>
                <li class='menutitle'><a href='accueil.html'>Contact</a></li>
                <li class='inscriptionConnexion'><a href='inscription.html'> Inscription </a> / <a href='connexion'> Connexion </a></li>
            </ul>
        </section>
		<section id="Image">
			<figure>
				<img src="../images/Infinite_measures.jpg"/>
			<header>
      			<h1>Infinite Measures</h1>
    		</header>
			</figure>
		</section>

	<article>
        <h2>Qui sommes-nous ? </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.</p>

        <h3>Notre projet</h3>
        <p>Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>
        <p>Pelientesque auctor nisi id magna consequat sagittis. Curabitur dapibus, enim sit amet elit pharetra tincidunt feugiat nist imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</p>
      </article>
	<section>
		<h1> Contact </h1>
		<h2> Où nous trouver ? </h2>
		</section>	
        
    <div class="test"></div>
        <section id="navFooter">
            <ul class='footerpage'>
                <li><a href='CGU.html'> CGU </a></li>
                <li><a href='FAQ.html'> FAQ </a></li>
                <li><a href='contact.html'> CONTACT </a></li>
            </ul>
            <div class='logofooter'><img src='../images/logo.png' height="50px"/></div>
            <ul class='networks'>
                <li><a href='https://www.facebook.com/'><img src='../images/facebook.png' height="50px"/></a></li>
                <li><a href='https://www.instagram.com/'><img src='../images/instagram.png' height="50px"/></a></li>
                <li><a href='https://www.linkedin.com/'><img src='../images/linkedin.png' height="50px"/></a></li>
                <li><a href='https://www.twitter.com/'><img src='../images/twitter.png' height="50px"/></a></li>
            </ul>
        </section>

    </body>
</html>