<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Connexion</title>
</head>
<body>
	<header>
		<h1>INFINITE MEASURES</h1>
		<h2>Connexion</h2>
	</header>
	<main>
		<form method="POST">
			<label for="account">Identifiant</label>
			<input id="account" name="Identifiant" type="text" required />
			<label for="password">Mot de passe</label>
			<input id="password" name="Mot de passe" type="password" required />
			<button type="submit">Connexion</button>
		</form>
	</main>
	<footer></footer>
</body>
</head>