<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>

        <!-- JS -->
        <script src="../js/code.js"></script>
        <script src="../js/profil.js"></script>
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

        <!-- CSS -->
        <link href="../css/profilG.css" rel="stylesheet" type="text/css">
        <link href="../css/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <header id="navHeader"></header>

        <table class="infoProfil">
            <tr>
                <td class="donneesPersonnelles">
                    <div>
                        <img src="../images/iconProfil.jpg"/>
                        <div>Prénom</div> &nbsp; <div> Nom </div> 
                    </div>
                    <div>Sexe: homme/femme</div>
                    <div> Date de naissance: mm/aaaa </div>
                    <div> E-mail: truc@bidule.com </div>
                    <div> Numéro de téléphone: XX XX XX XX XX</div>
					<div> Adresse du cabinet :</div>
                </td>
			</tr>
		</table>
				
<div id="Stats">				
         <section id="resultatsTests">
  				<h1> Résultats tests</h1>
  		<canvas id = "myChart"></canvas>
		</section>

	<div class="legende">

		<div class="filtre">

  			<form class="criteres">
    		<select name = "critères">
      		<option value=""> Critères </option>
			<option value=""> Sexe</option>
			<option value=""> Age </option>

      		</select>
      		</form>

      		<form class="typeDeTest">
        	<select name = "type de test ">
         	<option value=""> Type de test </option>
					<option value=""> test1 </option>
					<option value=""> test2 </option>
					<option value=""> test3 </option>
					<option value=""> test4 </option>
					<option value=""> test5 </option>
          </select>
          </form>
		</div>
	</div>

  <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['test1', 'test2', 'test3', 'test4','test5'],
        datasets: [{
          label: 'résultats tests',
          data: [12, 19, 3, 5,6],
          backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(255, 0, 0,0.5)'
          ],
          borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(255, 0, 0,1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
   	//cutoutPercentage: 40,
    responsive: false,

  }
});
	</script>
</div>
	<div id="Liste_des_patients">
		<span>Liste des patients</span>		 
    </div>
	<div id="rectangle">Trier</div>
	<div id="tri"></div>
	<div id="search_icon">
		<img src="../../APP-2/views/images/Icon Search@2x.png" width="45" alt=""/>
		</div>
	<div class="wrapper">
	  	<div id="Un"></div>
		<div id="Pr_nom_Nom">
			<span>Prénom Nom</span>
		</div>
		<div id="infos">
			<span>infos</span>
		</div>
		<div id="infos_c">
			<span>infos</span>
		</div>
		<div id="photo"></div>
  		<div id="Deux"></div>
  		<div id="Trois"></div>
  		<div id="Quatre"></div>
  		<div id="Cinq"></div>
	</div>
	
		
	<section id="navFooter"></section>
    </body>
    <script LANGUAGE="JavaScript"> 
        header();
        dernierTest();
        resultatTest();
	    footer();
    </script>
</html>