<!DOCTYPE html>
<html>
    <head>

        <!-- JS -->
        <script src="../js/code.js"></script>
        <!-- CSS -->
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8" />
        <title>Infinite Measure</title>

    </head>

    <body>
        <section id="navHeader">
            <ul class="header">
                <li class="menuLogo"><a href="index.html"><img src="../images/Infinite_measures.png" height="50px"/></a></li>
                <li class="menutitle"><a href="index.html">Qui sommes-nous?</a></li>
                <li class="menutitle"><a href="index.html">Notre projet</a></li>
                <li class="menutitle"><a href="index.html">Contact</a></li>
                <li class="inscriptionConnexion"><a href="inscription.html"> Inscription </a> / <a href="connexion"> Connexion </a></li>
            </ul>
        </section>
	<section id="Page_image">
		<svg class="image_bg" viewBox="0 0 1920 1005.393">
			<rect fill="rgba(24,55,94,1)" stroke="rgba(112,112,112,1)">
			</rect>
		</svg>
		<img id="Image" src="../images/Infinite_measures.png"/>
		<div id="InfiniteMeasures">
			<span>Infinite Measures</span>
		</div>
	</section>	
        
    <section class="qui_sommes_nous">
	  <svg class="Trac__7" viewBox="0 0 1920 1005.393">
			<path fill="rgba(24,55,94,1)" id="Trac__7" d="M 0 0 L 1920 0 L 1920 1005.392578125 L 0 1005.392578125 L 0 0 Z">
		</path>
		</svg>
		<div id="qsn_titre">
			<span>Qui sommes-nous ?</span>
		</div>
	    <div id="qsn_texte">
			<span>Zone de texte fezofoezijezvveoververvj<br/>reifjerforjeoijfiefjeriofjeroiferofierjferiofjerf<br/>feirfejrofejroifejrferjfoiefjoerifjeriofreiferjfer<br/>feriferjofjeroefierjfoierjfierofjeorifjeorijreijer<br/>ferfierfeirfjoierfjerivreiv,erv,erv,eriv,erijregjer<br/>veriv,oriev,oeriv,eriov,reiv,eroiv,eriovreiv,erv<br/>ervier,voriev,oeriv,ioerv,iorev,iorv,reiov,erv,i
			</span>
		</div>
	  <svg class="Ellipse_qsn">
		<ellipse fill="rgba(228,223,223,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_qsn" rx="211" ry="217" cx="211" cy="217">
		</ellipse>
	</svg>
    </section>
		
	<section id="Notre_Projet">
	<div id="ntp_titre">
		<span>Notre projet</span>
	</div>
	<div id="ntp_texte">
		<span>Zone de texte fezofoezijezvveoververvj<br/>reifjerforjeoijfiefjeriofjeroiferofierjferiofjerf<br/>feirfejrofejroifejrferjfoiefjoerifjeriofreiferjfer<br/>feriferjofjeroefierjfoierjfierofjeorifjeorijreijer<br/>ferfierfeirfjoierfjerivreiv,erv,erv,eriv,erijregjer<br/>veriv,oriev,oeriv,eriov,reiv,eroiv,eriovreiv,erv<br/>ervier,voriev,oeriv,ioerv,iorev,iorv,reiov,erv,i
		</span>
	</div>
	  	<svg class="ntp_ellipse">
			<ellipse fill="rgba(228,223,223,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="ntp_ellipse" rx="211" ry="217" cx="211" cy="217">
			</ellipse>
		</svg>
	</section>
	<section id="contact_map">
		<svg class="BG_contact" viewBox="0 0 1919.5 907.011">
			<path fill="rgba(24,55,94,1)" id="BG_contact" d="M 0 0 L 1919.5 0 L 1919.5 907.0105590820313 L 0 907.0105590820313 L 0 0 Z">
			</path>
		</svg>
		<div id="Contact">
			<span>Contact :</span>
		</div>
		<div id="Carte_google">
			<span>carte google</span>
		</div>
		<div id="Adresse">
			<span>Adresse</span>
		</div>
		<svg class="email_rect">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_32" rx="0" ry="0" x="0" y="0" width="648" height="77">
			</rect>
		</svg>
		<svg class="objet_rect">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_48" rx="0" ry="0" x="0" y="0" width="648" height="77">
			</rect>
		</svg>
		<svg class="envoyer_rect">
			<rect fill="rgba(180,218,240,1)" id="Rectangle_34" rx="34.5" ry="34.5" x="0" y="0" width="410" height="69">
			</rect>
		</svg>
		<div id="Envoyer">
			<span>Envoyer</span>
		</div>
		<svg class="contact_texte">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_33" rx="0" ry="0" x="0" y="0" width="648" height="370">
			</rect>
		</svg>
	</section>
        
   	<div class="test"></div>
        <section id="navFooter">
            <ul class="footerpage">
                <li><a href="CGU.html"> CGU </a></li>
                <li><a href="FAQ.html"> FAQ </a></li>
                <li><a href="contact.html"> CONTACT </a></li>
            </ul>
            <div class="logofooter"><img src="../images/logo.png" height="50px"/></div>
            <ul class="networks">
                <li><a href="https://www.facebook.com/"><img src="../images/facebook.png" height="50px"/></a></li>
                <li><a href="https://www.instagram.com/"><img src="../images/instagram.png" height="50px"/></a></li>
                <li><a href="https://www.linkedin.com/"><img src="../images/linkedin.png" height="50px"/></a></li>
                <li><a href="https://www.twitter.com/"><img src="../images/twitter.png" height="50px"/></a></li>
            </ul>
        </section>
    </body>
</html>
