<!DOCTYPE html>
<html>
    <head>

        <!-- JS -->
        <script src="../js/code.js"></script>
        <!-- CSS -->
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8" />
        <title>Infinite Measure</title>

    </head>

    <body>
        <section id="navHeader">
            <ul class="header">
                <li class="menuLogo"><a href="index.html"><img src="../images/Infinite_measures.png" height="50px"/></a></li>
                <li class="menutitle"><a href="#qsn">Qui sommes-nous?</a></li>
                <li class="menutitle"><a href="#ntp">Notre projet</a></li>
                <li class="menutitle"><a href="#contact">Contact</a></li>
                <li class="inscriptionConnexion"><a href="inscription.html"> Inscription </a> / <a href="connexion"> Connexion </a></li>
            </ul>
        </section>
	<section id="Page_image">
		<div class="image_bg"></div>
		<img id="Image" src="../images/Infinite_measures.png"/>
		<div id="InfiniteMeasures">
			<span>Infinite Measures</span>
		</div>
	</section>	
        
    <section class="qui_sommes_nous">
		<div class="qsn_bg" id="qsn"></div>
		<div class="qsn_ellipse"></div>
		<div id="qsn_titre">
			<span>Qui sommes-nous ?</span>
		</div>
	    <div id="qsn_texte">
			<span>Zone de texte fezofoezijezvveoververvj<br/>reifjerforjeoijfiefjeriofjeroiferofierjferiofjerf<br/>feirfejrofejroifejrferjfoiefjoerifjeriofreiferjfer<br/>feriferjofjeroefierjfoierjfierofjeorifjeorijreijer<br/>ferfierfeirfjoierfjerivreiv,erv,erv,eriv,erijregjer<br/>veriv,oriev,oeriv,eriov,reiv,eroiv,eriovreiv,erv<br/>ervier,voriev,oeriv,ioerv,iorev,iorv,reiov,erv,i
			</span>
		</div>
	
    </section>
		
	<section id="Notre_Projet">
		<div class="ntp_bg" id="ntp"></div>
		<div class="ntp_ellipse"></div>
		<div id="ntp_titre">
			<span>Notre projet</span>
		</div>
		<div id="ntp_texte">
			<span>Zone de texte fezofoezijezvveoververvj<br/>reifjerforjeoijfiefjeriofjeroiferofierjferiofjerf<br/>feirfejrofejroifejrferjfoiefjoerifjeriofreiferjfer<br/>feriferjofjeroefierjfoierjfierofjeorifjeorijreijer<br/>ferfierfeirfjoierfjerivreiv,erv,erv,eriv,erijregjer<br/>veriv,oriev,oeriv,eriov,reiv,eroiv,eriovreiv,erv<br/>ervier,voriev,oeriv,ioerv,iorev,iorv,reiov,erv,i
			</span>
		</div>
	</section>
	<section id="contact_map">
		<div class="contact_bg" id="contact"></div>
		<div id="Contact">
			<span>Contact :</span>
		</div>
		<div id="Ou_nous_trouver">
			<span>Où nous trouver</span>
		</div>
		<div id="Adresse">
			<span>Adresse</span>
		</div>
		<img id="Carte" src="../images/map.png"/>
		<div class="email_rect"></div>
		<div class="objet_rect"></div>
		<div class="contact_texte"></div>
		<div class="envoyer_rect"></div>
		<div id="Envoyer">
			<span>Envoyer</span>
		</div>
		<form action="" method="get" class="contact">
  			<div class="email_rect">
    			<label for="email_rect">E-mail: </label>
    			<input type="text" name="email" id="email" required>
  			</div>
  			<div class="objet_rect">
    			<label for="objet">Objet </label>
    			<input type="objet" name="objet" id="objet" required>
  			</div>
			<div class="contact_texte">
    			<label for="contact_texte">Message </label>
    			<input type="string" name="message" id="message" required>
  			</div>
  			<div class="Envoyer">
    			<input type="submit" value="Envoyer">
  			</div>
		</form>
	</section>
        
   	<div class="test"></div>
        <section id="navFooter">
            <ul class="footerpage">
                <li><a href="CGU.html"> CGU </a></li>
                <li><a href="FAQ.html"> FAQ </a></li>
                <li><a href="contact.html"> CONTACT </a></li>
            </ul>
            <div class="logofooter"><img src="../images/logo.png" height="50px"/></div>
            <ul class="networks">
                <li><a href="https://www.facebook.com/"><img src="../images/facebook.png" height="50px"/></a></li>
                <li><a href="https://www.instagram.com/"><img src="../images/instagram.png" height="50px"/></a></li>
                <li><a href="https://www.linkedin.com/"><img src="../images/linkedin.png" height="50px"/></a></li>
                <li><a href="https://www.twitter.com/"><img src="../images/twitter.png" height="50px"/></a></li>
            </ul>
        </section>
    </body>
</html>
