<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="modierProfilGestionnaire.css">
	<title>Données</title>
</head>
<body>
    <div id="text">
    					<div id= "roundedImage">
                        	<img src="">
                        </div>
                        <div id="nom">Nom Prénom</div> &nbsp; <div id="prénom"></div>

    	<div id="Validation"

						<button type="submit">Valider les modifications</button>
		</div>
		<div id="Annulation"

						<button type="submit">Annuler</button>
		</div>
	</div>
	<div id="infors">
	<div id="info">

	<h2>Informations personnelles </h2>
		<p>Nom<p>
		<input type="text" name="Nom">
<placeholder="nom" required="required"/>

		<p>Prénom</p>
		<input type="text" name="Prénom">
<placeholder="prenom" required="required"/>

		<p>Email</p>
		<input type="text" name="Email">
<placeholder="email" required="required"/>

		<p>Vérifier Email</p>
		<input type="text" name="Vérifier Email">
<placeholder="email" required="required"/>
	</div>
	<div id="infos">

		<p>Numéro de téléphone</p>
		<input type="int" name="Numéro de téléphone">
<placeholder="numéro de telephone" required="required"/>

		<p>Mot de passe</p>
		<input type="password" name="Mot de passe">
<placeholder="Mot de passe" required="required"/>

		<p>Confirmation de mot de passe</p>
		<input type="password" name="Confirmation de mot de passe">

		<p> Adresse de travail</p>
		<input type="text" name="Addresse de travail">
		<placeholder="adresse" required="required"/>


	</div>
	</div>
</body>
</html>
